* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.hex-code {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: rgb(78, 77, 77);
}

.btn-click {
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 5px;
  background: rgb(206, 202, 202);
  font-size: 20px;
  color: #333;
  font-weight: bold;
  border: 1px solid #333;
}
